* {padding:0;
margin:0;
box-sizing: border-box;}

body{font-family: 'Open sans', sans-serif !important;
min-height:100vh;}

/* Text Fonts */
h1{color:#000000;
    text-align: center;
font-weight: 700;
font-size:3em;
padding-bottom: 20px;}

h2{color:#000000;
font-weight: 600;
font-size:2.375em;}

h3{color:#000000;
font-weight: 600;
font-size:2em;}

h4{color:#000000;
font-weight: 600;
font-size:1.5em;}

h5{color:#000000;
font-weight: 500;
font-size:1.25em;}

p{color:#000000;
font-weight: 400;
font-size:1.125em;
padding-bottom:10px;}

p1{color:#000000;
font-weight:500;
font-size:1.25em;
line-height: 1.25em;}

p3{color:#000000;
font-weight: 400;
font-size:0.9em;}

a{text-decoration: none;}

h6{color:#000000;
font-weight: 600;
font-size: 1em;}

/* Navigation Menu */
.navsec{display:flex;
padding: 8px 30px;
background-color: #7C0B0D;
box-shadow: 0 8px 32px 0 rgba(124, 11, 13, 0.2);
justify-content: space-between;}

ul{display:flex;
align-items: center;
list-style: none;}

.logo{display:flex;
    width:100px;
margin-right: auto;}

.logo img{width:100%;}

li{height:50px;}

li a{display:flex;
    align-items: center;
    padding: 0 30px;
    font-size:1em;
text-decoration: none;
color:#ffffff;
font-weight: 500;
height: 100%;
}

li a:hover{background-color: #ffffff1A;
border-radius: 5px;
border: none;}

.herobutton{font-size:1em;
padding:15px;
border-radius: 5px;
color:#7C0B0D;
background-color: #ffffff;
border: none;
font-weight: 600;
cursor:pointer;}

.herobutton:hover{
background-color: #f6f6f6;
color:#a00000;}

.mebutton{font-size:1em;
padding:15px;
border-radius: 5px;
color:#7C0B0D;
background-color: #ffffff;
border: none;
font-weight: 600;
cursor:pointer;}

.mebutton:hover{
background-color: #f6f6f6;
color:#a00000;}

/* Mobile Menu */
.mobilemenu{
    position:fixed;
    top:0;
    right:0;
    height:100vh;
    z-index:999;
    width:350px;
    background-color:  rgba(124, 11, 13, 0.9);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display:none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.mobilemenu li a{width:100%;
margin-left:20px;
margin-top: 20px;}

.mobilemenu button{
margin-left:20px;
margin-top: 20px;}

.menubutton{display: none;}

/* SECTION 1 */
.section1{margin:0 auto;
padding:30px 0;}

.head{padding-bottom:20px;
text-align: center;
margin-bottom: 20px;}

.head img{width:150px;}

h6{padding-bottom:20px;}

.testimonies {margin:0 auto;
text-align:left;
max-width:60%;
padding:50px;
border-radius:15px;
margin-bottom:30px;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3)}

.name{background-color:#e6e6e6;
color:#7C0B0D;
font-weight: 600;
font-size: 1em;
text-align: center;
max-width: 50%;
padding:10px;
border-radius: 15px;
margin-top:15px;}

.section2 {background-color:#f6f6f6;
    padding:50px 250px;
    margin:0 auto;
text-align:center;}

.section2 h2{padding-bottom:20px;}

.bottom{padding-bottom:20px;}

.testimony button{font-size:1em;
padding:14px 40px;
border-radius: 5px;
color:#ffffff;
background-color: #7C0B0D;
border: none;
font-weight: 600;
cursor:pointer;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);}

/* SECTION 3 */
.section3{background-color:#ffffff;
padding:50px 0;
margin:0 auto;}

.section3 .headline{text-align: center;
    width:50%;
margin:0 auto;
padding-bottom:40px;}

.inside{display:flex;
flex-wrap:flex;
justify-content: center;
align-items: center;
gap:10px;
margin:20px auto;}

h2{padding-bottom:20px;}

h5{text-align:left;
padding-bottom:20px;}

.left,
.right {flex: 1;
max-width: 300px;}

.left h6{padding-bottom: 20px;}

.leftul{display:block;
  padding: 0;}

.leftul li{ position: relative;
  padding-left: 35px;
  font-size: 18px;
font-weight: 600;}

.leftul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 24px;
  height: 24px;
  background-image: url(/BookAssets/Group.png);
  background-size: contain;
  background-repeat: no-repeat}

.right img {
  width: 100%;
  height: auto;}

.redban{width:50%;
color:#000000;
text-align: center;
padding:30px;
margin:0 auto;}

/* CONTACT US */
.contactus h2{text-align: center;
font-weight: 600;}

.contactus h6{text-align:center;}

.contactsection{background-color: #f6f6f6;
margin:0 auto;
padding: 50px 0;}

.contactus{width:60%;
  margin:0 auto;}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;}

.contact-form input,
.contact-form select,
.contact-form textarea {
    width: 100%;
    padding: 18px;
    border-radius: 6px;
    border: 1px solid #ddd;
    outline: none;
    font-family: 'Open sans', sans-serif !important;
}

/* Focus Effect for Inputs and Textarea */
input[type=text]:focus,
input[type=email]:focus,
input[type=phone]:focus,
textarea:focus {
    border-color: #534d4d;
    outline: none;
}

.form-note{color:#888585;
    text-align: center;
font-weight: 400;
font-size:1.2em;
margin-top: 10px;}

.contact-form button {
    background: #7C0B0D;
    color: #fff;
    border: none;
    padding: 14px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    transition: 0.3s ease;}

.contact-form button:hover {
    background: #a00000;}

/* FOOTER SECTION*/
footer{background: #000000;
color: #ffffff;
margin: 0 auto;
padding: 50px;
display:grid;
grid-template-columns: 1fr 1fr 1fr;
justify-items: center;}

.flogo{width:100%;
 overflow: hidden;}

.flogo img{width:30%;}

.quicklinks h5{text-align: left;
    font-weight: 600;
padding-bottom: 9px;}

.quicklinks ul{display:flex;
flex-direction: column;
  align-items: flex-start; 
  color:#ffffff;}

.link a{padding-left: 0;
font-size:0.9em; }

.link a:hover{color:#bdbcbc;}

.link li{height:35px;}

footer h5{color:#ffffff;}

.social h5{text-align: left;
font-weight:600;}

.sociallinks p3{color:#ffffff;}

.sicons img{width:20px;
height:20px;
display: flex;
align-items: center;   
justify-content: center;}

.socials{display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 0px;
    gap: 12px;
    margin-top: 20px;
    margin-bottom: 20px;}

.sicons{display: flex;
    align-items: center;   /* aligns icon + text perfectly */
    gap: 12px;}

/* Center the copyright text */
footer p6, 
footer .divider {
    text-align: center;
    color:#a2a1a1;
    display: block;
    width: 100%;}

/* Copyright container spans all columns */
footer .copyright-container {
    text-align: center;
    margin-top: 40px;
  border-top: 1px solid #333;
  padding-top: 20px;
  font-size: 14px;
    grid-column: 1 / -1;}

/* Media Query -Nav menu*/
@media screen and (max-width: 800px){
    .hideonmobile{display:none;}
    .menubutton{display: block;}
    .menubutton img{width:30px;}
    .herobutton{display:none;}

/* SECTION 1 */
.testimonies {margin:0 20px;
text-align:left;
max-width:100%;
padding:30px;
border-radius:15px;
margin-bottom:30px;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3)}
.name{background-color:#e6e6e6;
color:#7C0B0D;
font-weight: 600;
font-size: 1em;
text-align: center;
max-width: 100%;
padding:10px;
border-radius: 15px;
margin-top:15px;}
p{color:#000000;
font-weight:500;
font-size:1em;
line-height: 1.25em;}

/* SECTION 2 */
.section2 {background-color:#f6f6f6;
    padding:50px 50px;
    margin:0 auto;
text-align:center;}

/* SECTION 3 */
.section3{padding:30px 0;}
    .inside{display:flex;
flex-direction:column;
justify-content: center;
align-items: center;
padding:0 20px;}
.section3 .headline{text-align: center;
    width:100%;
margin:0 auto;
padding:0 20px 20px 20px;}
h2{font-size: 1.8em;}
.leftul li{ position: relative;
  padding-left: 35px;
  font-size: 16px;}
.redban{width:80%;}}

@media screen and (max-width:400px){
    .mobilemenu{width:100%;}
    .menubutton{display: block;}
    .herobutton{display:none;}}

/* CONTACT US*/
@media screen and (max-width: 768px) {
    .contactus{width:80%;}
    .form-note{font-size:0.8em;}}

/* FOOTER SECTION */
@media screen and (max-width: 768px) {
  footer {
    display:grid;
grid-template-columns: 1fr;
justify-items: center;}

.flogo {text-align: center;}

.quicklinks h5{text-align:center;
font-weight: 700;}

.quicklinks ul{display:flex;
flex-direction: column;
  align-items: center; 
  color:#ffffff;}

.quicklinks li a{padding-left: 30px;
    font-size:0.9em; }

.link li{height:30px;}

.social h5{text-align: center;
font-weight: 700;}

.socials{display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
    margin-bottom: 20px;}

 .quicklinks,
  .sociallinks {
    margin-top: 20px;}}